<h2>
  Nous rejoindre
</h2>

<p>
  Pour rejoindre Arks-System il est nécessaire de remplir les prérequis suivants:
</p>

<ul>
  <li>Avoir un personnage sur le Ship 02 Ur (ウル);</li>
  <li>Ne pas faire partie d'une team.</li>
</ul>

<p>
  En rejoignant la team vous acceptez <a routerLink="/">règles de la team</a>.
</p>

<p>
  Pour la méthode formulaire et Steam il est nécessaire de fournir les éléments suivant:
</p>

<ul>
  <li>Player ID Name;</li>
  <li>Nom du personnage;</li>
  <li>Capture d'écran de votre Arks-Card (optionnel, hébergé sur <a href="https://imgur.com" target="_blank">Imgur</a>).</li>
</ul>

<p>
  Un manageur traitera votre candidature au plus vite dans un maximum de 24 heures.
</p>

<h2>
  Méthode 1: Demande in-game
</h2>
<p>
  Connectez-vous et rejoignez le lobby puis suivez les étapes suivantes:
</p>

<ol>
  <li>Approchez le visiophone;</li>
  <li>Recherchez à l'aide de l'Arks Search (アークスサーチ);</li>
  <li>Entrez <span class="highlight">Arks-System</span> dans le champ puis validez;</li>
  <li>Formulez votre demande en selectionnant <span class="highlight">Arks-System</span>;</li>
  <li>Patientez...</li>
  <li>Bienvenue !</li>
</ol>

<h2>
  Méthode 2: Demande formulaire
</h2>
<p>
  Il est possible de formuler une demande sur un formulaire Google.
</p>

<p>
  <a href="https://goo.gl/vqlBNB" class="button green" target="_blank">
    Accéder au formulaire
  </a>
</p>

<h2>
  Méthode 3: Demande Steam
</h2>
<p>
  Il est possible de formuler une demande sur le topic dédié au recrutement sur le Steam Community de la team.
</p>

<p>
  <a href="https://steamcommunity.com/groups/Arks-System/discussions/0/540735426139834762/" class="button green" target="_blank">
    Accéder au Steam Community
  </a>
</p>
