<h2>
  Discord
</h2>

<p>
  Nous avons depuis l'été un serveur Discord et vous pouvez le rejoindre dès maintenant.<br/>
  Veuillez consulter les <a href="https://blog.arks-system.eu/annonces/discord-arks-system/">règles du serveur</a> avant de le rejoindre ici. Vous vous engagez à respecter le règlement du serveur et de la team en le rejoignant.
</p>

<p class="joinus">
  <a href="https://discord.gg/P2fTguK">Connexion au serveur Discord</a>
</p>

<h2>
  FAQ
</h2>

<div class="faq">
  <h3>
    Pas de VoIP ?
  </h3>
  <p>
    Un billet sur le blog parle de l'absence actuelle de la VoIP: <a href="https://blog.arks-system.eu/divers/absence-de-voip-pourquoi/">Absence de VoIP, pourquoi ?</a>
  </p>

  <h3>
    Dois je faire partie de la team ?
  </h3>
  <p>
    Ce n'est pas nécessaire. Mais le recrutement ne se fait pas sur le serveur Discord pour le moment.<br/>
    Pour toute demande de recrutement veuillez consulter <a routerLink="/recruit">la page de recrutment</a>.
  </p>
</div>