<h1>
  <a routerLink="/">
    <img src="./assets/logo/arks-system_long_white.png" alt="Arks-System"/>
  </a>
</h1>
<nav>
  <ul>
    <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    </li>
    <li>
      <a href="https://blog.arks-system.eu/" target="_blank">Blog</a>
    </li>
    <li *ngFor="let link of links">
      <a routerLink="{{link.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{link.name}}
      </a>
    </li>
    <li>
      <a href="https://steamcommunity.com/groups/Arks-System" target="_blank">Steam Community</a>
    </li>
  </ul>
</nav>