ul.tiles {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  padding: 0px;
  margin: 0px;
  list-style: none;
}
ul.tiles a {
  display: flex;
  border: #000 1px solid;
  height: 100px;
  width: 200px;
  margin: 5px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
  justify-content: center;
}