ul.tiles {
  display: flex;

  list-style-image: none;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  padding: 0px;
  margin: 0px;
  list-style: none;
}

 ul.tiles li {
  border: #000 1px solid;
  height: 150px;
  width: 150px;
  margin: 5px;
}