@import "vars";

* {
    box-sizing: border-box;
    // transition: all .1s linear;
}

body {
    background-image: url("/assets/img/bg/forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

section.head {
    max-width: $max_width;
    margin: 0px auto;
    border-radius: $border_radius;

    nav.menu {
        // background: white;
        padding: 5px 0px;

        a.home {
            // display: inline-block;

            img {
                height: 8em;
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 0px;
            margin: 0px;

            li a {
                padding: 5px;
                text-decoration: none;
                color: white;
                font-size: 1.25em;

                &:hover .icon {
                    transition: color .6s ease;
                    color: lightskyblue;
                }
                label {
                    cursor: pointer;
                }
            }

            li:not(:last-child) {
                padding-right: 15px;
            }
        }
    }
}

section.container {
    margin: 10px auto;
    max-width: $max_width;
    background: white;
    color: black;
    padding: 15px;
    border-radius: $border_radius;

    & > h2:first-child {
        margin-top: 0px;
    }

    a {
        color: black;
        font-weight: 500;
    }

    p {
        line-height: 1.4em;
        margin: 10px 0px 10px 15px;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Lato", sans-serif;
        margin-bottom: 0.5em;
    }

    h2 {
        font-weight: bolder;
        font-size: 1.8em;
    }

    h3 {
        font-weight: bold;
        font-size: 1.4em;
    }

    .highlight {
        display: inline;
        background: #f0f0f0;
        border: 1px solid #a0a0a0;
        border-radius: 2px;
        padding: 0 5px;
        white-space: nowrap;
        font-size: .9em;
    }

    .center {
        text-align: center;
    }

    ul li,
    ol li {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@import 'memorial';
@import 'responsive';
@import 'icons';
