.main {
  border: 1px #FFF solid;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 15px;

  background: #FFF;
  color: #000;
  /*text-align: justify;
  text-justify: distribute;*/
  /*max-width: 800px;*/
  min-width: 250px;
}