.main {
  /*border: 1px #FFF solid;*/
  border-radius: 3px;
  margin: 15px 5px;
  padding: 1px 15px;

  background: #FFF;
  color: #000;
  /*text-align: justify;
  text-justify: distribute;*/
  /*max-width: 800px;*/
  min-width: 250px;
}
footer {
  border: 1px #FFF solid;
  border-radius: 3px;
  margin: 5px;
  padding: 0px 15px;

  background: #FFF;
  color: #000;
  text-align: center;
  min-width: 250px;

  font-size: 0.8em;
}

@media not all and (min-width: 800px) {
  .main {
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 5px 10px;
  }
}
