<h2>
  Arks-System Tool
</h2>

<p>
  Cet outil est un lanceur alternatif pour PSO2 et permet aussi de le mettre à jour depuis les serveurs officiels et le miroir Arks-System en plus de s'assurer que les droits des fichiers soient correctement paramétré.<br/>
  Il permet aussi de patcher une partie du jeu en anglais.
</p>
<p>
  La fonctionnalité miroir est recommandé pour tous les utilisateurs vivant en France métropolitaine afin d'assurer des téléchargements plus rapides et stable.
</p>

<p>
  <a href="//tool.arks-system.eu/Arks-System%20Tool.exe" class="button green">Télécharger le logiciel</a>
</p>

<h2>
  Remerciements
</h2>
<ul>
  <li>SenpaiSilver pour son aide et pour l'hébergement;</li>
  <li>ShinKuroNeko pour le logo;</li>
  <li>Yoh pour son script permettant de rétablir les droits;</li>
  <li>Agrajag du forum <a href="http://psumods.co.uk">psumods</a> de nous avoir fournit le patch US jusqu'au 12/04/2017;</li>
  <li>SEGA de nous faire rêver.</li>
</ul>