<h2>
  Arks-System Tool
</h2>

<p>
  Cet outil est un lanceur alternatif pour PSO2 et permet aussi de le mettre à jour depuis les serveurs officiels et le miroir Arks-System en plus de s'assurer que les droits des fichiers soient correctement paramètré.<br/>
  Il n'est plus possible depuis le 10 Mai 2017 d'installer le patch US, pour plus d'informations <a href="https://blog.arks-system.eu/annonces/fin-du-support-du-patch-us/ ">consultez le blog</a>.
</p>
<p>
  La fonctionnalité miroir est recommandé pour tous les utilisateurs vivant en France métropolitaine afin d'assurer des téléchargements plus rapides et stable.
</p>

<p>
  <a href="//tool.arks-system.eu/Arks-System%20Tool.exe" class="button green">Télécharger le logiciel</a>
</p>

<h2>
  Remerciements
</h2>
<ul>
  <li>SenpaiSilver pour son aide et pour l'hébergement;</li>
  <li>ShinKuroNeko pour le logo;</li>
  <li>Yoh pour son script permettant de rétablir les droits;</li>
  <li>Agrajag du forum <a href="http://psumods.co.uk">psumods</a> de nous avoir fournit le patch US jusqu'au 12/04/2017;</li>
  <li>SEGA de nous faire rêver.</li>
</ul>

<!--h2>
  Notes de versions
</h2>

<ul>
  <li>
    Version 2.1.0.2 (04/04/2017):
    <ul>
      <li>Blocage de la possibilité d'utiliser le launcher de SEGA (le patch US n'était plus compatible avec cette fonction).</li>
    </ul>
  </li>
</ul-->