<h2>
  Arks-System Tool
</h2>

<p>
  Cette version est actuellement une version bêta. N'hésitez pas à nous faire part des problèmes rencontré sur le <a href="https://steamcommunity.com/groups/Arks-System/discussions/2/">Steam Community</a>.
</p>

<img class="screenshot" alt="Arks-System Tool" src="assets/tool/Arks-SystemTool_v4.png"/>

<p>
  Cet outil est un lanceur alternatif pour PSO2 et permet aussi de le mettre à jour depuis les serveurs officiels et le miroir Arks-System en plus de s'assurer que les droits des fichiers soient correctement paramétrés.<br/>
  Il permet aussi de traduire une partie du jeu en anglais.
</p>

<p>
  La fonctionnalité miroir est recommandée pour tous les utilisateurs vivant en France métropolitaine afin d'assurer des téléchargements plus rapides et stable.
</p>

<p>
  <a href="//tool.arks-system.eu/repository/Arks-SystemTool.exe" class="button green">Télécharger le logiciel</a>
</p>

<p>
  Vous pouvez aussi retrouver le projet sur <a href="https://github.com/Arks-System/Arks-SystemTool">GitHub</a> !
</p>

<h2>
  Remerciements
</h2>
<ul>
  <li>The Redeemer pour les version précédentes;</li>
  <li>ShinKuroNeko pour le logo;</li>
  <li>Agrajag du forum <a href="http://psumods.co.uk">psumods</a> de nous avoir fournit le patch EN jusqu'au 12/04/2017;</li>
  <li>ACF pour <a href="http://pso2.acf.me.uk/Manual/">l'archive</a> du patch EN;</li>
  <li>SEGA de nous faire rêver (même quand ils cassent tout).</li>
</ul>