ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 10px 0px;
  padding: 0px;
  justify-content: center;
}
li {
  margin: 5px;
  padding: 5px;
}
li a {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  text-decoration: none;
}