<h2>
  Archives
</h2>

<p>
  Ceci est une archive des différentes mises à jours de PSO2 depuis le lancement du jeu. Cette archive est un miroir des pages de mise à jour disponible depuis <a href="http://pso2.jp/players/news/?charid=roadmap" target="_blank">le site officiel de PSO2</a>.<br/>
  Ce mirroir existe à des fins d'archivage et ne représente pas forcément les toutes dernières mises à jour du jeu. Ces pages sont toutes en Japonais.
</p>

<ul>
  <li *ngFor="let archive of archives">
    <a href="//archive.arks-system.eu/pso2.jp/players/update/{{archive.link}}" class="green" target="_blank">
      {{archive.date}}
    </a>
  </li>
</ul>