body {
  background-color: #000;
  background-image: url("./assets/backgrounds/bg015blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
}
img {
  border: 0px;
}