body {
  background-color: #000;
  background-image: url("./assets/backgrounds/bg_forest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;
  overflow-y: scroll;

  /*font-family: 'Droid Serif';*/
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  margin: 0px auto;
}
img {
  border: 0px;
}

h1 {
  font-family: Droid Serif;
  font-variant: small-caps;
  font-size: 36pt;
}
h2 {
  font-size: 24pt;
  /*font-variant: small-caps;*/
}
p {
  text-align: justify;
  text-justify: distribute;
}
.nobr {
  white-space: nowrap;
}
.highlight {
  display: inline;
  background: #F0F0F0;
  border: #A0A0A0 1px solid;
  border-radius: 2px;
  padding: 0px 5px;
  white-space: nowrap;
}
a {
  color: #000;
}
a.button {
  display: block;
  color: #000;
  border: 1px #FFF solid;
  border-radius: 15px;
  margin: 0px auto;
  padding: 10px;
  min-width: 250px;
  text-decoration: none;
  text-align: center;
}
.green {
  background: rgba(80, 140, 80, 0.7);
}
.green:hover {
  background: rgba(80, 140, 80, 1);
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
/*.loading {
  color: #000;
  background: #FF0;
  border: 1px #FF0 solid;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 300px;
  text-align: center;
  
  font-family: Monospace;
  font-size: 2em;
}*/