@font-face {
	font-family: Droid Serif;
	src: url("./assets/fonts/DroidSerif.ttf");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
  background-color: #000;
  background-image: url("./assets/backgrounds/bg_forest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000;

  /*font-family: Droid Serif;*/
  font-family: Open Sans;
  max-width: 800px;
  margin: 0px auto;
}
img {
  border: 0px;
}

h1 {
  font-family: Droid Serif;
  font-variant: small-caps;
  font-size: 36pt;
}
h2 {
  font-size: 24pt;
  /*font-variant: small-caps;*/
}
p {
  text-align: justify;
  text-justify: distribute;
}
.nobr {
  white-space: nowrap;
}
.highlight {
  display: inline;
  background: #F0F0F0;
  border: #A0A0A0 1px solid;
  border-radius: 2px;
  padding: 0px 5px;
}
/*.loading {
  color: #000;
  background: #FF0;
  border: 1px #FF0 solid;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 300px;
  text-align: center;
  
  font-family: Monospace;
  font-size: 2em;
}*/