<h2>
  Qui sommes-nous ?
</h2>
<p>
  Nous sommes la team francophone Arks-System du Ship 02 Ur (ウル) sur la version japonaise de Phantasy Star Online 2. La team a été créé en Août 2012, peu après le lancement du jeu au Japon.
</p>

<h2>
  L'équipe
</h2>
<p>
  L'équipe se compose d'un team master et de ses manageurs:
</p>
<ul>
  <li>
    Team Master: SenpaiSilver;
  </li>
  <li>
    Manageurs: <ul>
      <li>Travis;</li>
      <li>Zearoth;</li>
      <li>Shakka;</li>
      <li>Blood-Gemini.</li>
    </ul>
  </li>
</ul>
<p>
  Et vous ?
</p>