<h2>
  Qui sommes-nous ?
</h2>
<p>
  Nous sommes la team francophone Arks-System du <span class="highlight">Ship 02 Ur (ウル)</span> sur la version japonaise de Phantasy Star Online 2. La team a été créé le 14 Août 2012, peu après le lancement du jeu au Japon.<br/>
  Nous acceptons tous types de joueurs.
</p>

<h2>
  Event: Friday Night Fever
</h2>
<p>
  L'événement hebdomadaire a lieu tous les vendredis soir à 21h (heure française) dans la team room. Il est recommandé d'être haut level pour participer aux activités.
</p>

<h2>
  Réglement de la Team
</h2>
<p>
  En rejoignant la team vous acceptez les règles de la team.
</p>
<h3>
  Contenu interdit
</h3>
<p>
  Il est formellement interdit de:
</p>
<ul>
  <li>Partager des informations personnelles;</li>
  <li>Poster du contenu (liens, symbol art...) pornographique et/ou hentai;</li>
  <li>Poster du propos racistes et/ou portant atteinte à une personne ou un groupe de personnes;</li>
  <li>Harceler une personne ou un groupe de personnes faisant partie ou pas de la team;</li>
  <li>Faire preuve de la moindre toxicité envers la team ou les joueurs externe.</li>
</ul>
<p>
  Utilisez votre bon sens pour juger de ce qui peut être interdit ou contactez de façon privé un manageur si vous avez des doutes. Ces règles sont valable en <span class="highlight">All Chat</span>, <span class="highlight">Party Chat</span> et <span class="highlight">Team Chat</span>.
</p>
<p>
  Nous nous attendons à un comportement correct afin de ne pas faire empirer l’image de la communauté étrangère sur PSO2.
</p>
<h3>
  Outils interdit
</h3>
<p>
  Les outils strictement interdits par SEGA sont également strictement interdit dans la team.
</p>
<ul>
  <li>Cheats et hacks;</li>
  <li>Damage Parser (parseur) ou DPS Meter.</li>
</ul>
<p>
  Si vous utilisez un outil interdit vous vous exposez à être retirer de la team de façon immédiate.
</p>
<p>
  Le parseur fait partie des outils d'analyses que <a href="http://pso2.jp/players/news/?id=9224">SEGA a formellement interdit</a> (<a href="http://bumped.org/psublog/regarding-use-of-third-party-analytic-tools/">source anglaise</a>). Cet outil est donc interdit afin de ne pas nuire à l'ambiance et l'image de la team à cause de l'élitisme en discriminant ou critiquant les chiffres d'un autres joueur de la team ou extérieur à la team.<br />
  Aucune excuse ne sera toléré, même pour une utilisation dans le cadre d'une autocritique pour améliorer vos performances.
</p>

<h2>
  Nous rejoindre
</h2>
<p>
  N'hésitez pas à nous rejoindre sur la page de <a routerLink="/recruit">recrutement</a>.
</p>

<h2>
  Discord
</h2>
<p>
  N'hésitez pas à nous rejoindre sur notre <a routerLink="/discord">serveur Discord </a>.
</p>
