<h2>
  Qui sommes-nous ?
</h2>
<p>
  Nous sommes la team francophone Arks-System du Ship 02 Ur (ウル) sur la version japonaise de Phantasy Star Online 2. La team a été créé le 14 Août 2012, peu après le lancement du jeu au Japon.<br/>
  Nous acceptons tout types de joueurs.
</p>

<h2>
  Event: Friday Night Fever
</h2>
<p>
  L'événement hebdomadaire a lieu tous les vendredis soir à 21h (heure française) dans la team room. Il est recommandé d'être haut level pour participer aux activités.
</p>

<h2>
  Nous rejoindre
</h2>
<p>
  N'hésitez pas à nous rejoindre sur la page de <a routerLink="/recruit">recrutement</a>.
</p>